@use '../../scss/var';
@use '../../scss/mixing';

.navTop {
  .MuiAppBar-root {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  }
}
.NavLogo {
  width: 145px;
  height: 40px;
}
.NavPcBtn {
  width: 71%;
  justify-content: center;
  align-items: center;
}

.NavFreeBtn {
  background-color: var(--btn-bg-color) !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  font-size: 17px !important;
}
.NavLoginBtn {
  color: var(--first-text-color);
  font-size: 20px;
  margin-left: 2rem;
  //   background-color: var(--hover-color);
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--hover-color);
  }
}

@media (max-width: 576px) {
  .NavLoginBtn {
    display: none;
  }
}
@media (min-width: 768px) {
  .NavLoginBtn {
    display: none;
  }
}
@media (min-width: 1024px) {
  .NavLoginBtn {
    display: flex;
  }

  .NavPcBtn {
    width: 60%;
  }
}
@media (min-width: 1440px) {
  .NavLoginBtn {
    display: flex;
  }

  .NavPcBtn {
    width: 71%;
  }
}
