:root {
  --first-text-color: #1f2328;
  --second-text-color: #636c76;
  --bgColor: #e8ddff;
  --bgColor_2: #f6f8fa;
  --hover-color: #eef1f4;
  --border_color: #d0d7de;
  --bgColor2: #f2f5f6;
  --colorBlue: #1e2d7d;
}
