// @import '--var.scss';
// @import '--mixing.scss';
@use 'var.scss';
@use 'mixing.scss';
@media (max-width: 576px) {
  .TopNav_barDiv {
    padding-left: 10px;
    padding-right: 10px;
    span {
      img {
        padding-right: 0px;
        margin-right: 5px;
      }
      align-items: baseline;
      text-align: center;
    }
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1440px) {
}
