// @import '--var.scss';
// @import '--mixing.scss';
@use 'var.scss';
@use 'mixing.scss';
@media (max-width: 576px) {
  .LoginTop_inner {
    padding: 20px;
    margin: 0 15px;
    .LoginTop_link {
      margin-top: 15px;
      font-size: 12px;
      text-align: center;
    }
    .LoginTop_btn2 {
      button {
        img {
          left: 10px;
        }
      }
    }
  }
  .ReturnPrime_div {
    .OrderTracking_div {
      padding: 0 15px;
      margin-top: 3rem;
    }
  }
  .aboutus_info_div {
    padding: 1rem 0;
    margin-top: 1rem;
  }
  .aboutus_infoOuter {
    justify-content: flex-start;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .AboutUs_text {
    padding: 0 15px;
  }
  .OrderTracking_logo {
    margin-bottom: 15px;
    margin-right: 0;
    img {
      width: 100%;
    }
  }
  .OrderTracking_div {
    margin-bottom: 9rem;
    margin-left: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  .OrderTracking_topdiv {
    flex-direction: column;
  }
  .WholesalePrices_outer {
    .logo {
      top: 4px;
    }
    .WholesalePrices_inner {
      width: 100%;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 40px;

      .WholesalePrices_btnDiv {
        margin-top: 10px;
      }
    }
  }
  .CustomerReviews_div {
    width: 100%;
  }
  .HomePageCarousel_div {
    .slideImg {
      height: 24rem;
    }
  }

  .BrandsIcon_sliderTop {
    text-align: center;
  }
  .EngineFuel_card {
    width: 200px !important;
    img {
      width: 200px !important;
      height: 200px !important;
    }
  }
  .MyApp {
    margin-top: 9rem;
  }
  .NavLogo {
    width: 125px !important;
    height: 20px !important;
  }
  .NavSearch_div {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .TopNav_barDiv {
    padding-left: 16px;
    padding-right: 16px;
    span {
      img {
        padding-right: 0px;
        margin-right: 5px;
      }
      align-items: baseline;
      text-align: center;
    }
  }
}
@media (min-width: 768px) {
  .ReturnPrime_div {
    .OrderTracking_div {
      padding: 0 10rem;
      margin-top: 3rem;
    }
  }
  .AboutUs_text {
    padding: 0 10rem;
  }
  .OrderTracking_logo {
    margin-bottom: 12rem;
    margin-right: 0;
  }
  .OrderTracking_div {
    margin-bottom: 12rem;
    margin-left: 0;
    margin-right: 1rem;
  }
  .WholesalePrices_outer {
    .logo {
      top: 12px;
    }
  }
  .MyApp {
    margin-top: 7rem;
  }
}
@media (min-width: 1024px) {
  .ReturnPrime_div {
    .OrderTracking_div {
      padding: 0 15rem;
      margin-top: 3rem;
    }
  }
  .AboutUs_text {
    padding: 0 15rem;
  }
  .OrderTracking_logo {
    margin-bottom: 12rem;
    margin-right: 4rem;
  }
  .OrderTracking_div {
    margin-bottom: 12rem;
    margin-left: 4rem;
    margin-right: 0;
  }
  .WholesalePrices_outer {
    .logo {
      top: 30px;
    }
  }
  .MyApp {
    margin-top: 10rem;
  }
}
@media (min-width: 1440px) {
  .ReturnPrime_div {
    .OrderTracking_div {
      padding: 0 30rem;
      margin-top: 3rem;
    }
  }
  .AboutUs_text {
    padding: 0 25rem;
  }
  .OrderTracking_logo {
    margin-bottom: 12rem;
    margin-right: 9rem;
  }
  .OrderTracking_div {
    margin-bottom: 12rem;
    margin-left: 9rem;
    margin-right: 0;
  }
  .MyApp {
    margin-top: 10rem;
  }
}
